<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorization denied</title>
  </head>
  <body>
    <main>
      <h1>Authorization denied</h1>
      <p>User denied authorization. Try again and authorizate it</p>
      <a href="/login">Try again</a>
    </main>

  </body>
</html>